# Dependencies
node_modules/

# Logs & Temp
npm-debug.log*
yarn-debug.log*
*.log
temp/

# Build Artifacts
dist/
build/

# Environment Variables (Secrets)
.env
.env.*.local
.env.local

# IDE/OS Files
.DS_Store
